.Gif{
    border: 1px solid rgb(136, 140, 215);
    border-radius: 6px;
    color: white;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin: auto;
    padding: 32px;
    width: 50%;
}

.Gif h4 {
    margin: 0;
}

.Gif img{
    object-fit: contain;
}

i {
    font-size: 80px;
}